body{
    color: #fff;
    background: url(../images/bg.JPG) no-repeat center center fixed;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
    line-height: 1.4;
    padding: 32px 24px;
}

.header{
    text-align: center;
    margin-bottom: 48px;
    z-index: 99;
}

.header h1{
    margin-bottom: 16px;
    font-size: 48px;
}

.subtitle{
    color:rgba(255, 255, 255, 0.8);
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}

.card{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
}

.card-header{
    text-align: center;
    margin-bottom: 32px;
    font-size: 20px;
}

.form-group textarea{
    width: 100%;
    min-height: 120px;
    color: #fff;
    border: 1px solid #474646;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 16px;
}

.form-group textarea:focus{
    outline:none;
    border-color: #a655f7
}

.form-group textarea::placeholder{
    color: #a19e9e;
}

.form-group .btn-magic{
    width: 100%;
    padding: 16px 32px;
    background: linear-gradient(90deg, #a655f7 0%, #ff80aa 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.form-group .btn-magic:hover{
    transform: translateY(-2px);
}

.previe-card{
    display: none;
}

.code-grid{
    display: flex;
    gap: 24px;
}

.code-card{
    background-color: #21242a;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    width: 50%;
}

.code-title{
    font-size: 20px;
    margin-bottom: 16px;
}

.code-block{
    background-color: #0a0c10;
    color: #5eead4;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;

    white-space: pre-wrap;
    word-wrap: break-word;
}

